# Tus credenciales de OCC Mundial
EMAIL_0=tu_correo@ejemplo.com
EMAIL_1=tu_correo+occmundial1@ejemplo.com
EMAIL_2=...
.
.
.
EMAIL_n=...

PASSWORD='your_password'

# URL
URL_OCC=https://www.occ.com.mx/